<div style="background-image: url(<%= @garden.image_url %>);">
  <h1><%= @garden.name %></h1>
</div>

<h3>Plants:</h3>
<ul>
  <% @garden.plants.each do |plant| %>
    <li><%= plant.name %></li>
  <% end %>
</ul>

<%= link_to "Add a plant", new_garden_plant_path(@garden) %>
<%= link_to "Back", gardens_path %>
