<div class="container">
  <div 
    class="garden-banner" 
    style="background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ), url(<%= @garden.image_url %>);"
  >
    <h1>The <%= @garden.name %></h1>
  </div>

  <div class="plant-cards-wrapper">
    <% @garden.plants.each do |plant| %>
      <div 
        class="plant-card"
        style="background: linear-gradient(
          rgba(0, 0, 0, 0.45), 
          rgba(0, 0, 0, 0.45)
          ), url(<%= plant.image_url %>);"
      >
        <h4><%= plant.name %></h4>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-between pt-5">
    <%= link_to "🔙", gardens_path, class: 'display-6' %>
    <%= link_to "➕🌱", new_garden_plant_path(@garden), class: 'display-6' %>
  </div>
</div>