<div class="container">
  <div 
    class="garden-banner" 
    style="background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ), url(<%= @garden.image_url %>);"
  >
    <h1>The <%= @garden.name %></h1>
  </div>

  <div class="plant-cards-wrapper">
    <% @garden.plants.each do |plant| %>
      <div class="plant-card d-flex flex-column"
        style="background: linear-gradient(
          rgba(0, 0, 0, 0.45), 
          rgba(0, 0, 0, 0.45)
          ), url(<%= plant.image_url %>);">
        <h3><%= plant.name %></h3>
        <div class="d-flex">
          <% plant.tags.each do |tag| %>
            <span class="text-danger tag"><%= tag.name %></span>
          <% end %>
          <div data-controller="form">
            <p data-action="click->form#popUp" style="cursor: pointer;">➕</p>
            <div class="hidden pop-up" data-form-target="plantform">
              <div class="form-container">
                <h1>Add Tag</h1>
                <%= simple_form_for [plant, @plant_tag] do |f| %>
                  <%= f.input :tag, collection: Tag.all %>
                  <%= f.submit %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div data-controller="form" class="d-flex w-100 justify-content-between">
  <%= link_to "🔙", gardens_path, class: "display-6" %>
    <div>
      <p class="display-6" data-action="click->form#popUp" style="cursor: pointer;">➕🌱</p>
      <div class="hidden pop-up" data-form-target="plantform">
        <div class="form-container">
          <h1>Add Plant</h1>
          <div class="d-flex justify-content-center align-items-center">
            <%= simple_form_for [@garden, @plant] do |f| %>
              <%= f.input :name %>
              <%= f.input :image_url %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>