<div 
  class="garden-banner" 
  style="background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(<%= @garden.image_url %>);"
>
  <h1>The <%= @garden.name %></h1>
</div>

<div class="container">
  <ul>
    <% @garden.plants.each do |plant| %>
      <li><%= plant.name %></li>
    <% end %>
  </ul>

  <%= link_to "Add a plant", new_garden_plant_path(@garden) %>
  <%= link_to "Back", gardens_path %>
</div>
